.bottom_navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 56px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3), 0 4px 8px 3px rgba(0, 0, 0, .15);
    /* border-top: 1px solid var(--border-color); */
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-background-color);
    z-index: 9999999999;
    padding-bottom: env(safe-area-inset-bottom);
}

.bottom_navbar .nav_item {
    padding: 6px 0;
    max-width: 168px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--background-color-transition);
    outline: none;
}

.bottom_navbar .nav_item:active {
    background-color: var(--selection-color);
}

.bottom_navbar .nav_item svg {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    fill: var(--secondary-text-color);
}

.bottom_navbar .nav_item.active {
    color: var(--accent-color);
}

.bottom_navbar .nav_item.active svg {
    fill: var(--accent-color);
}

a {
    text-decoration: none;
}