.header_back {
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 2;
    background-color: var(--primary-background-color);
}

.header_back .title {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    margin: 0 8px;
}

@media screen and (max-width: 640px) {
    .header_back {
        height: 60px;
        padding: 0 6px;
    }
    .header_back .title {
        margin: 0 4px;
        font-size: 17px;
    }
}
